.container {
    background-color: #efefef;
    padding: 2em;
    width: 50%;
    border-radius: 4px;
}

.multi-range {
    width: 100%;
    height: 45px;
    position: relative;
    margin-bottom: 2em;
}

.multi-range__track {
    height: 5px;
    width: 100%;
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.multi-range__track-bg {
    height: 100%;
    width: 95%;
    background: #ccc;
    position: absolute;
    top: 0;
    left: 2.5%;
}

.multi-range__fill {
    height: 100%;
    width: 100%;
    background: #2994b2;
    background: var(--primary-base);
    position: absolute;
    top: 0;
    left: 0;
}

.multi-range__handle {
    aspect-ratio: 1/1;
    width: 3%;
    background: var(--primary-base);
    position: absolute;
    top: 50%;
    cursor: grab;
    transform: translateY(-50%);
    border-radius: 100%;
}

.multi-range__ticks {
    height: 100%;
    width: 95%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 2.5%;
    display: flex;
    justify-content: space-between;
}

.multi-range__tick {
    width: 2px;
    height: 100%;
    background: #fff;
}

.multi-range__labels {
    font-size: 14px;
    position: absolute;
    left: 2.5%;
    min-width: 100%;
    overflow: visible;
    top: calc(100% + 0.5em);
}

.multi-range__labels > .label {
    position: absolute;
    display: none;
}

@media screen and (max-width: 709px) {
    .multi-range__labels > .label:nth-child(4n + 1) {
        display: block;
    }
}

@media screen and (min-width: 710px) {
    .multi-range__labels > .label:nth-child(odd) {
        display: block;
    }
}

@media screen and (min-width: 1560px) {
    .multi-range__labels > .label {
        display: block;
    }
}

.label {
    transform: translateX(-50%);
}
