/*Importing Font*/
@import "../fonts/font.css";

/*Variables*/
:root {
    --v-anchor-base: #dd9933;
    --v-primary-base: #dd9933;
    --v-primary-lighten5: #ffffbb;
    --v-primary-lighten4: #ffff9f;
    --v-primary-lighten3: #ffeb83;
    --v-primary-lighten2: #ffcf68;
    --v-primary-lighten1: #fcb44e;
    --v-primary-darken1: #bf7f14;
    --v-primary-darken2: #a16600;
    --v-primary-darken3: #844e00;
    --v-primary-darken4: #683700;
    --v-secondary-base: #424242;
    --v-secondary-lighten5: #c1c1c1;
    --v-secondary-lighten4: #a6a6a6;
    --v-secondary-lighten3: #8b8b8b;
    --v-secondary-lighten2: #727272;
    --v-secondary-lighten1: #595959;
    --v-secondary-darken1: #2c2c2c;
    --v-secondary-darken2: #171717;
    --v-secondary-darken3: #000000;
    --v-secondary-darken4: #000000;
    --v-accent-base: #82b1ff;
    --v-accent-lighten5: #ffffff;
    --v-accent-lighten4: #f8ffff;
    --v-accent-lighten3: #daffff;
    --v-accent-lighten2: #bce8ff;
    --v-accent-lighten1: #9fccff;
    --v-accent-darken1: #6596e2;
    --v-accent-darken2: #467dc6;
    --v-accent-darken3: #2364aa;
    --v-accent-darken4: #004c90;
    --v-error-base: #ff5252;
    --v-error-lighten5: #ffe4d5;
    --v-error-lighten4: #ffc6b9;
    --v-error-lighten3: #ffa99e;
    --v-error-lighten2: #ff8c84;
    --v-error-lighten1: #ff6f6a;
    --v-error-darken1: #df323b;
    --v-error-darken2: #bf0025;
    --v-error-darken3: #9f0010;
    --v-error-darken4: #800000;
    --v-info-base: #2196f3;
    --v-info-lighten5: #d4ffff;
    --v-info-lighten4: #b5ffff;
    --v-info-lighten3: #95e8ff;
    --v-info-lighten2: #75ccff;
    --v-info-lighten1: #51b0ff;
    --v-info-darken1: #007cd6;
    --v-info-darken2: #0064ba;
    --v-info-darken3: #004d9f;
    --v-info-darken4: #003784;
    --v-success-base: #4caf50;
    --v-success-lighten5: #dcffd6;
    --v-success-lighten4: #beffba;
    --v-success-lighten3: #a2ff9e;
    --v-success-lighten2: #85e783;
    --v-success-lighten1: #69cb69;
    --v-success-darken1: #2d9437;
    --v-success-darken2: #00791e;
    --v-success-darken3: #006000;
    --v-success-darken4: #004700;
    --v-warning-base: #fb8c00;
    --v-warning-lighten5: #ffff9e;
    --v-warning-lighten4: #fffb82;
    --v-warning-lighten3: #ffdf67;
    --v-warning-lighten2: #ffc24b;
    --v-warning-lighten1: #ffa72d;
    --v-warning-darken1: #db7200;
    --v-warning-darken2: #bb5900;
    --v-warning-darken3: #9d4000;
    --v-warning-darken4: #802700;
    --v-buttons-base: #dd9933;
    --v-buttons-lighten5: #ffffbb;
    --v-buttons-lighten4: #ffff9f;
    --v-buttons-lighten3: #ffeb83;
    --v-buttons-lighten2: #ffcf68;
    --v-buttons-lighten1: #fcb44e;
    --v-buttons-darken1: #bf7f14;
    --v-buttons-darken2: #a16600;
    --v-buttons-darken3: #844e00;
    --v-buttons-darken4: #683700;
    --v-blue-base: #0466c8;
    --v-blue-lighten5: #bfeaff;
    --v-blue-lighten4: #a1ceff;
    --v-blue-lighten3: #82b3ff;
    --v-blue-lighten2: #6298ff;
    --v-blue-lighten1: #3f7fe4;
    --v-blue-darken1: #004fac;
    --v-blue-darken2: #003891;
    --v-blue-darken3: #002477;
    --v-blue-darken4: #00105d;
    --v-green-base: #00af87;
    --v-green-lighten5: #b9ffff;
    --v-green-lighten4: #9bfff4;
    --v-green-lighten3: #7dffd8;
    --v-green-lighten2: #5ee8bc;
    --v-green-lighten1: #3ccba1;
    --v-green-darken1: #00946e;
    --v-green-darken2: #007955;
    --v-green-darken3: #00603e;
    --v-green-darken4: #004728;
    --v-background-base: #ffffff;
    --v-background-lighten5: #ffffff;
    --v-background-lighten4: #ffffff;
    --v-background-lighten3: #ffffff;
    --v-background-lighten2: #ffffff;
    --v-background-lighten1: #ffffff;
    --v-background-darken1: #e2e2e2;
    --v-background-darken2: #c6c6c6;
    --v-background-darken3: #ababab;
    --v-background-darken4: #919191;
    --v-black-base: #343434;
    --v-black-lighten5: #b0b0b0;
    --v-black-lighten4: #959595;
    --v-black-lighten3: #7b7b7b;
    --v-black-lighten2: #626262;
    --v-black-lighten1: #4b4b4b;
    --v-black-darken1: #1f1f1f;
    --v-black-darken2: #060606;
    --v-black-darken3: #000000;
    --v-black-darken4: #000000;
    --v-darkGrey-base: #52575c;
    --v-darkGrey-lighten5: #d4dae0;
    --v-darkGrey-lighten4: #b8bec4;
    --v-darkGrey-lighten3: #9da3a9;
    --v-darkGrey-lighten2: #83898e;
    --v-darkGrey-lighten1: #6a6f75;
    --v-darkGrey-darken1: #3b4045;
    --v-darkGrey-darken2: #252a2e;
    --v-darkGrey-darken3: #11151a;
    --v-darkGrey-darken4: #000000;
    --v-grey-base: #a0a4a8;
    --v-grey-lighten5: #ffffff;
    --v-grey-lighten4: #ffffff;
    --v-grey-lighten3: #f3f7fc;
    --v-grey-lighten2: #d7dbdf;
    --v-grey-lighten1: #bbbfc3;
    --v-grey-darken1: #868a8e;
    --v-grey-darken2: #6d7074;
    --v-grey-darken3: #54585b;
    --v-grey-darken4: #3d4144;
}

/*CSS Reset*/
img {pointer-events: none}
button {cursor: pointer;}
a {text-decoration: none}
ul, ol, li {padding: 0 !important;}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #f5f6fa;
    font-size: .8rem !important;
    font-family: IRANYekan, Tahoma, "Roboto Light", sans-serif;
}

/*Styles*/
.inset-0 {inset: 0;}
.first-section {background-image: url('../img/home/first-section.png');}
.first-section > main {background: linear-gradient(180deg, rgba(0,0,0,0.6), transparent);}
.my-px-6 {padding-left: 7rem;padding-right: 7rem;}
.dropdown-menu.show {animation: dropdown-show .3s linear;}
.transition {transition: .3s;}
.my-fw-bold {font-family: IRANYekanBold, Tahoma, "Roboto Light", sans-serif;}
.dropdown-item {border-radius: 0 !important;transition: .3s}
button[data-bs-toggle="dropdown"] > .bi:before {transition: .3s}
button[data-bs-toggle="dropdown"].show > .bi:before {transform: rotate(180deg);}
header .dropdown-item h6 {font-size: .7rem;margin-bottom: 0;}

.ripple-button > .ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple .7s linear;
    background-color: rgba(255, 255, 255, 0.7);
}

.ripple-button {
    position: relative;
    overflow: hidden;
    transition: .3s;
    background-color: #6200ee;
}

.header-link:after {
    content: '';
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateY(500%);
    height: 1px;
    background-color: white;
    width: 0;
    transition: .3s;
}

.bg-cover-center {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.first-section > main,  .first-section{
    min-height: 75vh;
    clip-path: ellipse(70% 60% at 50% 40%);
}

/*Hover , active ,....*/
.header-link:hover:after {width: 100%;}
.ripple-button:hover {background-color: rgba(256,256,256,.1) !important;}
.ripple-button:active {background-color: rgba(256,256,256,.3) !important;}
.ripple-button.gray {background-color: white;}
.ripple-button.gray:hover {background-color: var(--v-secondary-lighten5) !important;}
.ripple-button.gray:active {background-color: var(--v-secondary-lighten4) !important;color: #000;}
.ripple-button.gray > .ripple {background-color: var(--v-secondary-lighten3) !important;}

/*Animations*/
@keyframes dropdown-show {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}