/*Importing Parts*/
@import "../font/font.css";
@import "variables.css";

/*Css Reset*/
* {
    outline: none
}

img {
    pointer-events: none
}

button {
    cursor: pointer;
    transition: .3s
}

a {
    text-decoration: none !important
}

body {
    font-family: iranyekan, Tahoma, "Roboto Light", sans-serif !important;
    font-size: 18px;
    line-height: 1.8;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #f5f6fa;
}

/*Styles*/
.ripple-button--inner-span {
    background: rgba(256, 256, 256, .2);
}

.font-small {
    font-size: 13px;
}

.header-links {
    position: relative;
    transition: .3s;
}

.my-drop-down-holder {
    position: relative;
}

.my-drop-down > button {
    width: 12rem;
}

.my-drop-down > button > * {
    pointer-events: none
}

.my-drop-down > .ripple-button .ripple-button--inner-span {
    background: rgba(0, 0, 0, .2);
}

.intractive-buttons-btn[active] {
    color: var(--primary-base);
}

.intractive-buttons-btn.ripple-button .ripple-button--inner-span {
    background-color: rgba(221, 153, 51, .2);
}

.my-drop-down-toggler > i.bi-chevron-down:before {
    transition: .3s;
}

.my-drop-down-holder[data-opened] .my-drop-down-toggler > i.bi-chevron-down:before {
    transform: rotate(180deg)
}

.intractive-buttons-with-border {
    position: relative;
}


#mobile-nav:not([data-opened]),
#mobile-nav:not([data-opened]) ~ #mobile-nav-bg {
    left: -100%;
    opacity: 0;
}

#mobile-nav[data-opened],
#mobile-nav[data-opened] ~ #mobile-nav-bg {
    left: 0;
    opacity: 1;
}

.my-drop-down-holder:not([data-opened]) > .my-drop-down {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
}

.my-drop-down-holder[data-opened] > .my-drop-down {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: visible;
}

.header-links::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
    border-radius: 50rem;
}

.my-drop-down {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    transition: .5s;
}

#mobile-nav {
    z-index: 2;
    left: 0;
    bottom: 0;
    top: 0;
    transition: .4s;
}

#mobile-nav-bg {
    background: rgba(0, 0, 0, .3);
    backdrop-filter: blur(10px);
    z-index: 1;
    transition: .4s;
}

.home-first-section {
    background-image: url('../img/home/img-first-section.png');
    background-size: cover;
    min-height: 90vh;
}

.home-second-section {
    margin-top: -10rem;
    padding: 0 10rem;
}

.intractive-buttons-btn {
    width: 75px;
    height: 75px;
}

.intractive-buttons-border {
    position: absolute;
    width: 75px;
    height: 2px;
    background-color: var(--primary-base);
    bottom: 0;
    transition: .3s;
    pointer-events: none;
}

/*Hover, Focus, ...*/
.header-links:hover::after {
    width: 100%;
}

/*Media Query's*/
@media (min-width: 991px) {
    #mobile-nav, #mobile-nav-bg {
        display: none;
    }
}